include LICENSE.txt
include README.md
include CHANGELOG.md
include setup.cfg
include setup.py
include pykrige/__init__.py
include pykrige/kriging_tools.py
include pykrige/ok3d.py
include pykrige/ok.py
include pykrige/uk3d.py
include pykrige/uk.py
include pykrige/variogram_models.py
include pykrige/core.py
include pykrige/test.py
include pykrige/test_data/test_data.txt
include pykrige/test_data/test1_answer.asc
include pykrige/test_data/test1_settings.txt
include pykrige/test_data/test2_answer.asc
include pykrige/test_data/test2_settings.txt
include pykrige/test_data/test3_answer.asc
include pykrige/test_data/test3_dem.asc
include pykrige/test_data/test3_settings.txt
include pykrige/test_data/test3d_answer.txt
include pykrige/test_data/test3d_data.txt
include pykrige/lib/__init__.py
include pykrige/lib/cok.pyx
include pykrige/lib/lapack.pxd
include pykrige/lib/lapack.pyx
include pykrige/lib/variogram_models.pxd
include pykrige/lib/variogram_models.pyx