LICENSE.txt
README.md
setup.cfg
setup.py
pykrige/__init__.py
pykrige/kriging_tools.py
pykrige/ok.py
pykrige/uk.py
pykrige/variogram_models.py
pykrige/test/test_data.txt
pykrige/test/test_pykrige.py
pykrige/test/test1_answer.asc
pykrige/test/test1_settings.txt
pykrige/test/test2_answer.asc
pykrige/test/test2_settings.txt
pykrige/test/test3_answer.asc
pykrige/test/test3_dem.asc
pykrige/test/test3_settings.txt